*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #000000;
    color: #F6F6F6;
    font-size: 1.5rem;
    font-family: 'Times New Roman', Times, serif;
}
.cabecalho__marca{
    width: 5%;
    height: auto;
}
.cabecalho__marca__nome{
    font-family:'Times New Roman', Times, serif;
    font-size: 2.5rem;
    font-weight: 700;
    color: #3BFD22;
}
.cabecalho__menu{
    font-family:'Times New Roman', Times, serif;
    font-size: 1.5rem;
    font-weight: 700;
    color: #3BFD22;
    border: 2px solid #3BFD22;
    padding: 18.5px 10px;
    border-radius: 8px;
}
.cabecalho__marca__nome{
    background-color: #272727;
    border-radius: 16px;
}
.cabecalho__menu:hover{
    background-color: #272727;
    border-radius: 16px;
}
.apresentacao__conteudo__titulo{
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.25rem;
    font-weight: 500;
}
.titulo-destaque{
    color: #3BFD22;
    font-weight: 500;
}
.apresentacao__links__navegacao{
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 2px solid #3BFD22;
    padding: 21.5px 0px;
    border-radius: 8px;
    font-weight: 700;
    color:#F6F6F6;
    text-align: center;
}
.apresentacao__links__navegacao__imagem{
   width: 10%; 
}